//Spelare
#wrapper{
    overflow: auto;
}
#spelplan{
    overflow: auto;
    width: 700px;
    height: 900px;
    margin-left: 200px;
    float:left;
}
form{
    margin-top: 50px;
}
.spelare{
    float:left;
    height: 400px;
}
.planRuta{
    width: 40px;
    height: 40px;
    border: 2px solid black;
}
.skepp{
    background-color: lightgreen;
}
.skeppHit{
    background-color: #CD5C5C;
}
.miss{
    background-color: lightgray;
}
* ul li{
    margin-left: -25px;
    margin-top: -15px;
    list-style-type: none;
}

//dator
/*#dator ul li{
    margin-left: -25px;
    margin-top: -15px;
    list-style-type: none;
}*/

#dator{
    background-color: lightgrey;
    float: right;
    overflow: auto;
    margin-left: 200px;
    width: 700px;
    height: 900px;
}
.dator{
    float:left;
    height: 400px;
}
.datorRuta{
    width: 40px;
    height: 40px;
    border: 2px solid black;
}